<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <!-- Estilos -->
        <link rel="stylesheet" href="/styles/mainStyle.css">
        <link rel="stylesheet" href="/styles/styleHome.css">
        <!-- Google material icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>

        <div class="main-container">

            <!--header-->
            <header class="header">
                <h1 class="logo"><img src="/assets/images/logo.webp" alt="Logo do site"></h1>
                <nav class="navigation">
                    <ul>
                        <li class="nav"><a href="/">Página Inicial</a></li>
                        <li class="nav"><a href="/produtos">Imóveis</a></li>
                        <li class="nav"><a href="/Imobiliaria">Sobre-nós</a></li>
                        <li class="login"><a href="/entrar">Entrar</a></li>
                        <li class="registrar"><a href="/cadastrar">Cadastra-se</a></li>
                        <!--profile-->
                        <li class="profile"><img src="/assets/images/pteste.jpg" alt="Ícone de Perfil">
                        <!--profile-->
                    </ul>
                </nav>
            </header>
            <!--header-->



            <!--Conteúdo do meio da página-->
          <!--Imagem do background-->  <div class="main-image"></div>
            <main class="main-content">
                <section class="info-content">
                    <img src="../assets/images/logo.webp" alt="">
                    <p>Planejando e realizando sonhos</p>
                    <div class="buttons">
                        <button class="btn">Buscar imóvel</button>
                        <button class="btn">Quem somos?</button>
                    </div>
                </section>
            </main>
            <!--Conteúdo do meio da página-->
            

        <!--Divisao Da listra em Destaque cinza-->
            <section class="destaque">
                <h1>IMOVEIS PARA VENDA EM DESTAQUE</h1>
                
            </section>
        <!--Divisao Da listra em Destaque cinza-->


<!-- Seção de Imóveis -->
<section class="vendasContainer">

    <section class="anuncios">
        <img class="anuncioImagem" src="assets/images/img1.webp">
        <p>Endereço Jardim Villa Verde</p>
        <h3>R$338.000,00</h3>
        <p>Cidade Santo Antonio Da Patrulha</p>
        <button class="botaoVendas">Visitar</button>
    </section>

    <section class="anuncios">
        <img class="anuncioImagem" src="assets/images/img2.jpg">
        <p>Endereço Jardim Villa Verde</p>
        <h3>R$338.000,00</h3>
        <p>Cidade Santo Antonio Da Patrulha</p>
        <button class="botaoVendas">Visitar</button>
    </section>

    <section class="anuncios">
        <img class="anuncioImagem" src="assets/images/img3.jpg">
        <p>Endereço Jardim Villa Verde</p>
        <h3>R$338.000,00</h3>
        <p>Cidade Santo Antonio Da Patrulha</p>
        <button class="botaoVendas">Visitar</button>
    </section>

    <section class="anuncios">
        <img class="anuncioImagem" src="assets/images/img4.jpg">
        <p>Endereço Jardim Villa Verde</p>
        <h3>R$338.000,00</h3>
        <p>Cidade Santo Antonio Da Patrulha</p>
        <button class="botaoVendas">Visitar</button>
    </section>

    <section class="anuncios">
        <img class="anuncioImagem" src="assets/images/img5.webp">
        <p>Endereço Jardim Villa Verde</p>
        <h3>R$338.000,00</h3>
        <p>Cidade Santo Antonio Da Patrulha</p>
        <button class="botaoVendas">Visitar</button>
    </section>

    <section class="anuncios">
        <img class="anuncioImagem" src="assets/images/img6.webp">
        <p>Endereço Jardim Villa Verde</p>
        <h3>R$338.000,00</h3>
        <p>Cidade Santo Antonio Da Patrulha</p>
        <button class="botaoVendas">Visitar</button>
    </section>

</section>

     <!-- Seção de Imóveis -->


           <!--Footer-->
            <footer>
                <p>&copy; 2023 - Todos os direitos reservados</p>
        
            <nav class="footer">
                <ul>
                    <li><a href="#">Termos de uso</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
          </footer>
            <!--Footer-->
       
        </div> 
    </body>
</html>