<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <!-- Estilos -->
        <link rel="stylesheet" href="/styles/mainStyle.css">
        <link rel="stylesheet" href="/styles/styleProdutos.css">
        <!-- Google material icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>

        <div class="main-container">

            <!--header-->
            <header class="header">
                <h1 class="logo"><img src="/assets/images/logo.webp" alt="Logo do site"></h1>
                <nav class="navigation">
                    <ul>
                        <li class="nav"><a href="/">Página Inicial</a></li>
                        <li class="nav"><a href="/produtos">Imóveis</a></li>
                        <li class="nav"><a href="/Imobiliaria">Sobre-nós</a></li>
                        <li class="login"><a href="/entrar">Entrar</a></li>
                        <li class="registrar"><a href="/cadastrar">Cadastra-se</a></li>
                        <!--profile-->
                        <li class="profile"><img src="/assets/images/pteste.jpg" alt="Ícone de Perfil">
                        <!--profile-->
                    </ul>
                </nav>
            </header>
            <!--header-->



            <main class="property-section">
                <div class="property-info">
                    <h1>Casa à venda com 120m², 2 quartos e 3 vagas</h1>
                    <img src="/assets/images/casateste.webp" alt="Imagem da casa">
                    <div class="address">
                        <p>Imóvel localizada em Taquara, Mundo Novo, Rua Pedro Álvares Cabral, 2068.</p>
                    </div>
                    <div class="features">
                        <div class="feature-item">Sala de estar</div>
                        <div class="feature-item">1 Banheiro</div>
                        <div class="feature-item">Garagem</div>
                        <div class="feature-item">2 Quartos</div>
                    </div>
                </div>
        
                <div class="property-details">
                    <div class="price-info">
                        <p><strong>Valor do imóvel:</strong> R$280,000</p>
                        <p>Parcelas de até R$2,500</p>
                        <p><strong>Condomínio:</strong> R$0</p>
                        <p><strong>IPTU:</strong> 12x R$0</p>
                    </div>
                    <button id="schedule-visit">Agendar visita</button>
                    <button id="interest-btn" class="interest">Tenho interesse</button>
                </div>
            </main>
          
            

       


           <!--Footer-->
            <footer>
                <p>&copy; 2023 - Todos os direitos reservados</p>
        
            <nav class="footer">
                <ul>
                    <li><a href="#">Termos de uso</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
          </footer>
            <!--Footer-->
       
        </div> 
    </body>
</html>