*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
/*Caixa principal Externa Casa Boa*/
.main-container{
    width: 100%;
    position: relative;
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 3px;
    background-color: transparent;
    z-index: 3;
    background-color: #2962ff; /* Example blue */
    width: 100%;
}
/*Iconizinho do Perfil*/
.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
/*Aqui fica a parte superior esquerda do logo pequeno "Casa Boa" manipulação  */
.logo img{
   width: 50%;
   margin: 10px;
   padding: 2px;
}

/*Começo das propriedas Tag de "Navegação da pagina" */
.navigation ul{
    color: white;
    margin: 15px 30px 15px 0;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
    margin: 3px;
    
}
.nav {
    transition: 0.5s;
}
.nav:hover {
    color:#c0c0c0
}
.navigation::after{
    content: '';
    width: 100%;
    background-color:white;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0px;
}
.navigation li:not(:last-child){
    margin-right: 30px;
    font-size: large;
    
}

image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Footer */
footer {
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 30vh;
	background: rgb(31,105,252);
	background: linear-gradient(90deg, rgba(31,105,252,1) 0%, rgba(0,57,171,0.9178046218487395) 35%);	
}

.footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer li {
	display: inline-block;
	margin: 0 10px;
	padding: 0px;
	margin-top: 15px;
}

.footer a {
	color: #fff;
	text-decoration: none;
}
/* Footer */

/*Apos Chegar uma resolução abaixo de 460PX tag se ajustara*/
@media (max-width: 460px){
	.logo img{
        width: 90%;
        margin: 5px;
        padding: 2px;
        padding-right: 7px;
     }
     .navigation ul{
        padding-top: 10px;
        padding-bottom: 2px;
        padding-left: 3px;
        color: white;
        margin: 15px 30px 15px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 3px;
        
    }

}

