.main-image{
    height: 100%;
    margin: 0px;
}
.info-content{
    height: 100px;
    margin: 0px;
    
}

form {
    margin-bottom: 100px;
}
.add-vendedor{
    color: var(--primary-font);
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
footer {

}